{% extends 'base.html' %}
{% block title %}Pobierz opinie{% endblock %}
{% block content %}
<form class="'text-center" method="POST" action="{{url_for('extract')}}">
    <div class="form-group">
       
          
        </div>
        <div class="col-auto">
            <input type="text" required id="product_id" name="product_id" placeholder="Wpisz kod produktu" class="form-control form-control-lg" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-dark btn-lg btn-block" value="Pobierz">
        </div>
    </div>
</form>
{% endblock %}