{% extends 'base.html' %}
{% block title %}Opis projektu{% endblock %}
{% block content %}
    <h4>Cel aplikacji</h4>
    <p>Celem aplikacji jest umożliwienie użytkownikom pobierania opinii o produktach z serwisu Ceneo.pl na podstawie kodów produktów oraz prezentacja tych opinii w czytelnej formie wraz z podstawowymi statystykami.</p>
    <h4>Opis działania aplikacji</h4>
    <p>Aplikacja działa w następujący sposób:</p>
                        <ul>
                            <li>Użytkownik wprowadza indywidualny kod produktu.</li>
                            <li>Aplikacja pobiera opinie o produkcie z serwisu Ceneo.pl na podstawie podanego kodu.</li>
                            <li>Pobrane opinie są przetwarzane i wyświetlane w interfejsie aplikacji wraz z podstawowymi statystykami.</li>
                        </ul>
    <h4>Zastosowane biblioteki</h4>
    <p>W projekcie zostały wykorzystane następujące biblioteki i narzędzia:</p>
                        <ul>
                            <li>Flask - framework webowy do budowy aplikacji w języku Python.</li>
                            <li>Requests - biblioteka do wykonywania żądań HTTP w języku Python.</li>
                            <li>Pandas - biblioteka do manipulacji i analizy danych w języku Python.</li>
                            <li>Matplotlib - biblioteka do tworzenia wykresów i wizualizacji danych w języku Python.</li>
                            <li>Openpyxl - do zapisywania lub odczytywania danych w pliku programu Excel i wielu innych zadań, takich jak np. generowanie wykresów, lub wstawianie formuł.</li>
                            <li>jQuery - biblioteka JavaScript, która ułatwia manipulację elementami i zdarzeniami w dokumencie HTML.</li>
                        </ul>
    <h4>Zastosowane podejścia</h4>
    <ul>
        <li>Strukturalne - początkowy etap projektu opierał się na strukturze strukturalnej.</li>
        <li>Proceduralne - w dalszej kolejności kod został zrefaktoryzowany do postaci proceduralnej.</li>
        <li>Zorientowane obiektowo - finalnie zastosowane zostało podejście zorientowane obiektowo.</li>
    </ul>
{% endblock %}
                