<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="p-3 mb-2 bg-light">

    <div class="p-3 mb-2 bg-secondary text-white">
    <h2 class="text-center mt-4">CeneoWebScraper</h2>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/ekstrakcja_opinii" style="font-size: 30px;">Ekstrakcja opinii &rarr;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lista-produktow" style="font-size: 30px;">Lista produktów &rarr;</a>
            </li>
        </ul>
    </nav>
</div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="p-3 mb-2 bg-secondary text-dark">
                <div class="card">
                    <div class="card-body text-center">
                      <h4 class="mb-4">O autorze</h4>
                        <p>Nazywam się Anastasiia Chorna. Jestem studentką I roku na kierunku
                           informatyka stosowana na Uniwersytecie Ekonomicznym w Krakowie.
                          Mój projekt jest aplikacją webową służącą do pobierania opinii o
                           produktach z serwisu Ceneo.pl na podstawie ich indywidualnych kodów 
                          oraz wyświetlania pobranych opinii i podstawowych statystyk.</p>

                        <h4 class="mt-4">Cel aplikacji</h4>
                        <p>Celem aplikacji jest umożliwienie użytkownikom pobierania opinii o produktach z serwisu Ceneo.pl na podstawie kodów produktów oraz prezentacja tych opinii w czytelnej formie wraz z podstawowymi statystykami.</p>

                        <h4 class="mt-4">Opis działania aplikacji</h4>
                        <p>Aplikacja działa w następujący sposób:</p>
                        <ul>
                            <li>Użytkownik wprowadza indywidualny kod produktu.</li>
                            <li>Aplikacja pobiera opinie o produkcie z serwisu Ceneo.pl na podstawie podanego kodu.</li>
                            <li>Pobrane opinie są przetwarzane i wyświetlane w interfejsie aplikacji wraz z podstawowymi statystykami.</li>
                        </ul>

                        <h4 class="mt-4">Zastosowane biblioteki</h4>
                        <p>W projekcie zostały wykorzystane następujące biblioteki i narzędzia:</p>
                        <ul>
                            <li>Flask - framework webowy do budowy aplikacji w języku Python.</li>
                            <li>Requests - biblioteka do wykonywania żądań HTTP w języku Python.</li>
                            <li>Pandas - biblioteka do manipulacji i analizy danych w języku Python.</li>
                            <li>Matplotlib - biblioteka do tworzenia wykresów i wizualizacji danych w języku Python.</li>
                            <li>Openpyxl - do zapisywania lub odczytywania danych w pliku programu Excel i wielu innych zadań, takich jak np. generowanie wykresów, lub wstawianie formuł.</li>
                            <li>jQuery - biblioteka JavaScript, która ułatwia manipulację elementami i zdarzeniami w dokumencie HTML.</li>
                        </ul>

                        <h4 class="mt-4">Zastosowane podejścia</h4>
                        <p>W trakcie realizacji projektu zastosowano następujące podejścia:</p>
                        <ul>
                            <li>Strukturalne - początkowy etap projektu opierał się na strukturze strukturalnej.</li>
                            <li>Proceduralne - w dalszej kolejności kod został zrefaktoryzowany do postaci proceduralnej.</li>
                            <li>Zorientowane obiektowo - finalnie zastosowane zostało podejście zorientowane obiektowo.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>




      

